/* auth */
.auth-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: rgb(71, 71, 71);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-top: 10px;
  font-weight: bold;
}

.auth-form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.auth-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #444;
}

.error-message {
  color: #b00020;
  background: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}