/* home */
.products-section {
  padding: 20px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.view-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
}

.view-btn:hover {
  background-color: red;
}

.noProductMsg {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.2rem;
}