/* ===== BASE ===== */
@import './base/typography.css';
@import './base/layout.css';

/* ===== COMPONENTS ===== */
@import './components/navbar.css';
@import './components/buttons.css';
@import './components/container.css';
@import './components/product-card.css';
@import './components/slideshow.css';

/* ===== PAGES ===== */
@import './pages/home.css';
@import './pages/auth.css';
@import './pages/edit-product.css';
@import './pages/product-show.css';
@import './pages/access-denied.css';

/* ===== UTILS ===== */
@import './utils/animation.css';
@import './utils/responsive.css';